
@keyframes arrow {
  from {
    margin-inline-start: 0;
  }
  to {
    margin-inline-start: 4px;
  }
}

@keyframes heart-scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes heart-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-filling-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-filling-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-filling-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-filling-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-filling-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: heart-opacity 0.3s 0.3s ease-in alternate;
}